/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

h1 {
  font-size: 200%;
  word-spacing: 5px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  text-align: center;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'
}

li{
  text-align: center;
  font-size: 20px;
}

img{
  display: block;
  margin: auto;
}

#content{
  margin: 100px;
  padding: 10px;
  border: solid 1px grey;
  background-color: rgb(151, 182, 223);
}

.minor-section{
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px grey;
  background-color: rgb(47, 153, 172);
}
